@import "./mixins/mixins.scss";
@import "./Form.scss";

.login_parent_wrapper {
  @include background;
  .login_card {
    @include Card;
    width: 250px;

    .title {
      color: #000066;
      text-align: center;
    }
    .standard_btn {
      @include buttonStyle;
      text-decoration: none;
      width: 100%;
    }
    .standard_btn[disabled] {
      background: $buttonDisabledColor;
    }
  }
}
